@inherits LayoutComponentBase

@inject NavigationManager Url
@inject IJSRuntime jsRuntime
@inject IStringLocalizer<LayoutLocalization> loc

<Layout>
    <Sider Collapsible Collapsed=@collapsed OnCollapse=@OnCollapse Theme="SiderTheme.Light">
        <div class="logo">
            <h3>@loc["Library"]</h3>
        </div>
        <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1" RouterLink="@Url.ToAbsoluteUri("/").AbsoluteUri">
                <Icon Type="home" Theme="outline" />
                <span>@loc["Home"]</span>
            </MenuItem>
            <AuthorizeView Roles="@DefaultRoles.AdminRole">
                <Authorized>
                    <SubMenu Key="sub1" Title="@loc["Administration"]">
                        <MenuItemGroup Key="g1" Title="@loc["Entities"]">
                            <MenuItem Key="3" RouterLink="@Url.ToAbsoluteUri("/groups/list").AbsoluteUri">
                                <Icon Type="branches" Theme="outline" />
                                <span>@loc["Groups"]</span>
                            </MenuItem>
                            <MenuItem Key="4" RouterLink="@Url.ToAbsoluteUri("/genres/list").AbsoluteUri">
                                <Icon Type="container" Theme="outline" />
                                <span>@loc["Genres"]</span>
                            </MenuItem>
                        </MenuItemGroup>
                    </SubMenu>
                </Authorized>
            </AuthorizeView>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Header Class="site-header">
            <Menu Theme="MenuTheme.Light" Mode="MenuMode.Horizontal">
                <AuthorizeView>
                    <Authorized>
                        <MenuItem Key="1" OnClick="OnLogOut">
                            <Icon Type="logout" Theme="outline" />
                            <span>@loc["Logout"]</span>
                        </MenuItem>
                    </Authorized>
                    <NotAuthorized>
                        <MenuItem Key="1" RouterLink="@Url.ToAbsoluteUri("/Identity/Account/Login").AbsoluteUri">
                            <Icon Type="login" Theme="outline" />
                            <span>@loc["Login"]</span>
                        </MenuItem>
                    </NotAuthorized>
                </AuthorizeView>
            </Menu>
            <CultureSelector />
            <Button Icon="github" Size="large" Type="@ButtonType.Link" OnClick="OnGitHubClick" />
        </Header>
        <Content>
            <div class="site-content">
                @Body
            </div>
        </Content>
    </Layout>
</Layout>


@code {
    bool collapsed = false;

    void OnCollapse(bool collapsed)
    {
        this.collapsed = collapsed;
    }

    async Task OnGitHubClick()
    {
        await jsRuntime.InvokeAsync<object>("open", "https://github.com/riwexoyd/BookLibrary", "_blank");
    }

    void OnLogOut()
    {
        Url.NavigateTo("Identity/Account/Logout", true);
    }
}