@inherits LayoutComponentBase

@inject NavigationManager Url
@inject IJSRuntime jsRuntime

<Layout>
    <Sider Collapsible Collapsed=@collapsed OnCollapse=@OnCollapse Theme="SiderTheme.Light">
        <div class="logo">
            <h3>Library</h3>
        </div>
        <Menu Theme="MenuTheme.Light" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1" RouterLink="@Url.ToAbsoluteUri("/").AbsoluteUri">
                <Icon Type="home" Theme="outline" />
                <span>Home</span>
            </MenuItem>
            <MenuItem Key="2" RouterLink="@Url.ToAbsoluteUri("/groups/list").AbsoluteUri">
                <Icon Type="branches" Theme="outline" />
                <span>Groups</span>
            </MenuItem>
            <MenuItem Key="3" RouterLink="@Url.ToAbsoluteUri("/genres/list").AbsoluteUri">
                <Icon Type="container" Theme="outline" />
                <span>Genres</span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Header Class="site-header">
            <Menu Theme="MenuTheme.Light" Mode="MenuMode.Horizontal">
                <AuthorizeView>
                    <Authorized>
                        <MenuItem Key="1" OnClick="OnLogOut">
                            <Icon Type="logout" Theme="outline" />
                            <span>Log out</span>
                        </MenuItem>
                    </Authorized>
                    <NotAuthorized>
                        <MenuItem Key="1" RouterLink="@Url.ToAbsoluteUri("/Identity/Account/Login").AbsoluteUri">
                            <Icon Type="login" Theme="outline" />
                            <span>Login</span>
                        </MenuItem>
                    </NotAuthorized>
                </AuthorizeView>
            </Menu>
            <Button Icon="github" Size="large" Type="@ButtonType.Link" OnClick="OnGitHubClick" />
        </Header>
        <Content>
            <div class="site-content">
                @Body
            </div>
        </Content>
    </Layout>
</Layout>


@code {
    bool collapsed = false;

    void OnCollapse(bool collapsed)
    {
        this.collapsed = collapsed;
    }

    async Task OnGitHubClick()
    {
        await jsRuntime.InvokeAsync<object>("open", "https://github.com/riwexoyd/BookLibrary", "_blank");
    }

    void OnLogOut()
    {
        Url.NavigateTo("Identity/Account/Logout", true);
    }
}