@inherits LayoutComponentBase

@inject NavigationManager Url

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="ToggleNavMenu"></MatIconButton>
                <MatAppBarTitle>E-Book Library</MatAppBarTitle>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer>
            <MatDrawer @bind-Opened="@showDrawer" Mode="@MatDrawerMode.Modal">
                <MatNavMenu Multi="true">
                    <MatNavItem Href="@Url.ToAbsoluteUri("").AbsoluteUri" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="home"></MatIcon>Home</MatNavItem>
                    <MatNavItem Href="@Url.ToAbsoluteUri("CreateBook").AbsoluteUri" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="book"></MatIcon>Add Book</MatNavItem>
                    <MatNavItem Href="@Url.ToAbsoluteUri("CreateAuthor").AbsoluteUri" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="book"></MatIcon>Add Author</MatNavItem>
                </MatNavMenu>
            </MatDrawer>
            <MatDrawerContent>
                <div class="body-wrapper">
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code {
    private bool showDrawer = false;

    private void ToggleNavMenu()
    {
        showDrawer = !showDrawer;
    }
}

<MatPortalHost></MatPortalHost>