@inherits LayoutComponentBase

@inject NavigationManager Url

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" @onclick="ToggleNavMenu"></MatIconButton>
                <MatAppBarTitle>E-Book Library</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="account_circle" @onclick="LogOut">
                </MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer>
            <MatDrawer @bind-Opened="@showDrawer" Mode="@MatDrawerMode.Modal">
                <MatNavMenu Multi="true">
                    <MatNavItem Href="@Url.ToAbsoluteUri("").AbsoluteUri" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="home"></MatIcon>Home</MatNavItem>
                    <MatNavItem Href="@Url.ToAbsoluteUri("/Books/List").AbsoluteUri" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="book"></MatIcon>Books</MatNavItem>
                    <MatNavItem Href="@Url.ToAbsoluteUri("/Authors/List").AbsoluteUri" NavLinkMatch="NavLinkMatch.All"><MatIcon Icon="book"></MatIcon>Authors</MatNavItem>
                </MatNavMenu>
            </MatDrawer>
            <MatDrawerContent>
                <div class="container padding-24">
                    @Body
                </div>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code {
    private bool showDrawer = false;

    private void ToggleNavMenu()
    {
        showDrawer = !showDrawer;
    }

    private void LogOut()
    {
        Url.NavigateTo("Identity/Account/Logout", true);
    }
}

<MatPortalHost></MatPortalHost>
<MatToastContainer />